@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0px 10px 10px 10px ;
    font-family: 'Poppins';
}



.nav-link{
    color: black;
    
}
#banner{
    background: url('../images/banner-full-empresa.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 20px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

#banner h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


#sobre-o-projeto{
    margin-top: 30px;
    color: rgb(65, 64, 64);
}

#ciberseguranca h2{
    margin-top: 30px;
}
/* seção da etica digital */
#etica-desenvolvimento{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    height: 400px;
    margin: 20px 0px 10px 0px;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);

}
.title-card-texture{
    color: white;
    padding: 10px;
}
.text-card-texture{
    color: white;
    padding: 10px;
    width: 56%;
}

#sugestoes-de-video h4{
    font-style: italic;
}

#sugestoes-de-video figcaption{
    font-style: italic;
    font-size: 12px;
    
}
#intuito h2{
    margin-top: 35px;
}
#agradecimentos-creditos{
    width: 100%;
    
    display: flex;
    flex-direction: column;
}
#container-links-footer {
    background-color: #2a9d8f;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 100%;
    width: 100%;
}

.equipe-lista {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.equipe-lista li {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #1f776b;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.equipe-lista li:hover {
    background-color: #21867a;
}



#logo-faculdade{
    width: 4rem;
    height: 4rem;
    
}
#faculdade-creditos{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
#faculdade-creditos p{
    font-weight: bold;
    padding: 10px;
    margin: 0px;
    font-size: 9px;
}
#faculdade-creditos img{
   
    background-color: transparent;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: space-between; */
}
footer a{
    font-size: 16px;
}

.container-btton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#vejaMaisCiberseguranca{
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
}
#vejaMaisCiberseguranca {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: black;
    font-weight: 600
  }
  
  #vejaMaisCiberseguranca:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  #vejaMaisCiberseguranca:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  

/* Segunda parte */
#etica-definicao{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    height: 400px;
}
#content-backgroud{
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        #3498db,
        #2ecc71
      ); /* Gradient background */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
      border-radius: 10px; /* Rounded corners */
      position: relative;
      overflow: hidden;
    }
    
#content-backgroud::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.1) 1px,
          transparent 1px
        ),
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
      background-size: 20px 20px;
      pointer-events: none; /* Allow clicking through the pattern layer */
    }
    

/* referencias bibliograficas */

.referencias-container {
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.referencias-container h2 {
    font-size: 28px;
    text-align: center;
    color: #2a9d8f;
    margin-bottom: 20px;
    border-bottom: 2px solid #2a9d8f;
    padding-bottom: 10px;
}

.referencias-lista {
    list-style-type: none;
    padding-left: 0;
}

.referencias-lista li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f7f7f7;
    border-left: 5px solid #2a9d8f;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.referencias-lista li:hover {
    background-color: #e2e2e2;
}

.referencias-lista .titulo {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.referencias-lista .fonte {
    display: block;
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

.referencias-lista .fonte a {
    color: #2a9d8f;
    text-decoration: none;
}

.referencias-lista .fonte a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 1200px) {
            #banner h1 {
                font-size: 40px;
            }
}

@media (max-width: 992px) {
            #banner h1 {
                font-size: 35px;
            }
}

@media (max-width: 768px) {
            #banner {
                height: 400px;
            }

            #banner h1 {
                font-size: 30px;
            }
            .referencias-container {
                max-width: 100%;
                margin: 50px auto;
                padding: 20px;
                background-color: #ffffff;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
            }
}

@media (max-width: 576px) {
            #banner {
                height: 300px;
            }

            #banner h1 {
                font-size: 25px;
                padding: 0 10px; 
                text-align: center;
            }
            .text-card-texture{
                color: white;
                padding: 10px;
                width: 100%;
                font-size: 14px;
            }
            .referencias-container {
                max-width: 100%;
                margin: 50px auto;
                padding: 20px;
                background-color: #ffffff;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
            }
}

@media (max-width: 360px) {
            #banner {
                height: 250px;
            }

            #banner h1 {
                font-size: 20px;
            }
            #container-animacao p{
                color: white;
                padding: 10px;
                width: 100%;
                font-size: 12px;
            }
            .referencias-container {
                max-width: 100%;
                margin: 50px auto;
                padding: 20px;
                background-color: #ffffff;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
            }
}